.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.ms-10{
    margin-left: 10px;
}

.p-5{
    padding: 5px;
}